@using Instrumentation.WebApp.Models
@model AuditLogViewModel
@{
    Layout = null;
}

<div class="PageSection">

    <table class="alternate_color">
        <tr>
            <td>rowcount</td>
            <td>@Model.AuditLogs.Count</td>
        </tr>
    </table>
    <table class="alternate_color">
        <tr>
            <th>Id</th>
            <th>CorrelationId</th>
            <th>ApplicationName</th>
            <th>Feature</th>
            <th>Category</th>
            <th>MessageCode</th>
            <th>Messages</th>
            <th>TraceLevel</th>
            <th>AuditedOn</th>
            <th>AdditionalInfo</th>
            <th>LoginName</th>
        </tr>
        @foreach (var auditLog in Model.AuditLogs)
        {
            <tr>
                <td>@Html.ActionLink(auditLog.Id, "AuditLogById", "AuditDb", new { id = auditLog.Id, dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)</td>

                @if (string.IsNullOrEmpty(auditLog.EventId))
                {
                    <td></td> }
                else
                {
                    <td class="eventId">@Html.ActionLink(auditLog.EventId, "Browse", "AuditDb", new { id = auditLog.EventId, dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount, browsemode=BrowseMode.EventId }, null)</td>
                }
                @if (string.IsNullOrEmpty(auditLog.ApplicationName))
                {
                    <td></td> }
                else
                {
                    <td>@Html.ActionLink(auditLog.ApplicationName, "Browse", "AuditDb", new { id = auditLog.ApplicationName, dbkey = Model.DbKey, maxrowcount=Model.MaxRowCount, browsemode=BrowseMode.ApplicationName }, null)</td>
                }
                @if (string.IsNullOrEmpty(auditLog.FeatureName))
                {
                    <td></td> }
                else
                {
                    <td>@Html.ActionLink(auditLog.FeatureName, "Browse", "AuditDb", new { name = HttpUtility.UrlEncode(auditLog.FeatureName), dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount, browsemode = BrowseMode.FeatureName }, null)</td>
                }
                @if (string.IsNullOrEmpty(auditLog.Category))
                {
                    <td></td> }
                else
                {
                    <td>@Html.ActionLink(auditLog.Category, "Browse", "AuditDb", new { id = auditLog.Category, dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount, browsemode = BrowseMode.Category }, null)</td>
                }

                <td>@auditLog.MessageCode</td>
                <td class="messagePreview">
                    <span title="@auditLog.Messages">@auditLog.Messages</span>
                </td>
                <td>@auditLog.TraceLevel</td>
                <td>@auditLog.AuditedOn</td>
                <td class="messagePreview">
                    <span title="@auditLog.AdditionalInfo">@auditLog.AdditionalInfo</span>
                </td>
                <td>@auditLog.LoginName</td>
            </tr>
        }
    </table>
</div>
