@model Instrumentation.WebApp.Models.ViewQueryBase
@{
    Model.ViewTitle = "AuditLogByFilters";
}

<div class="PageRoot">

    @Html.Action("Header", "Home", Model)

    @using (@Html.BeginForm())
    {
             <div>
                 <table class="alternate_color">
                     <tr>
                         <td>ApplicationName</td>
                         <td>@Html.DropDownListFor(q => q.ApplicationName, Model.ApplicationNameList)</td>
                         <td></td>
                         <td>MaxRowCount</td>
                         <td class="TextInputSmall">@Html.TextBoxFor(q => q.MaxRowCount, null, null)</td>
                         <td></td>
                         <td>CorrelationIdSearchStr</td>
                         <td>@Html.TextBoxFor(q => q.CorrelationIdSearchStr, null, null)</td>
                         <td></td>
                         <td><input type="submit" name="Command" value="iLikeCorrelationId" /></td>
                     </tr>
                     <tr>
                         <td>TraceLevel</td>
                         <td>@Html.DropDownListFor(q => q.TraceLevel, Model.TraceLevelList)</td>
                         <td></td>
                         <td></td>
                         <td><input type="submit" name="Command" value="Search" /></td>
                         <td></td>
                         <td>MessageSearchStr</td>
                         <td>@Html.TextBoxFor(q => q.MessageSearchStr, null, null)</td>
                         <td></td>
                         <td><input type="submit" name="Command" value="iLikeMessage"/></td>
                     </tr>
                     <tr>
                         <td>StartDate</td>
                         <td class="TextInputDate">@Html.TextBoxFor(q => q.StartDate, null, null)</td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td>AdditionalInfoSearchStr</td>
                         <td>@Html.TextBoxFor(q => q.AdditionalInfoSearchStr, null, null)</td>
                         <td></td>
                         <td><input type="submit" name="Command" value="iLikeAdditionalInfo" /></td>
                     </tr>
                     <tr>
                         <td>EndDate</td>
                         <td class="TextInputDate">@Html.TextBoxFor(q => q.EndDate, null, null)</td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td>LoginName</td>
                         <td>@Html.TextBoxFor(q => q.LoginNameSearchStr, null, null)</td>
                         <td></td>
                         <td><input type="submit" name="Command" value="iLikeLoginName" /></td>
                     </tr>
                 </table>
             </div>

        <div class="PageSection">
            <table class="TableSection">
                <tr>
                    <td>
                        @Html.Action("AuditLogDetail", "AuditDb", Model)
                    </td>
                </tr>
            </table>
        </div>

    <div>
        @Html.HiddenFor(q => q.DbKey)
    </div>
    }
</div>
        
