@model Instrumentation.WebApp.Models.ViewQueryAuditLogById
@{
    Model.ViewQueryCommon.ViewTitle = "Instrumentation Viewer";
}

<div class="PageRoot">
    
    @Html.Action("Header", "Home", Model.ViewQueryCommon)

    @using (@Html.BeginForm())
    {
        <div class="PageSectionWithBorder">

            <div>
                <table class="alternate_color">
                    <tr>
                        <td>Id</td>
                        <td class="CdmsTextInput4">@Html.TextBoxFor(q => q.AuditLogId, null, null)</td>
                        <td><input type="submit" name="Command" value="Search"/></td>
                        <td><input type="button" onclick="copyToClipboard();" value="Copy" /></td>
                    </tr>
                </table>
            </div>

            @Html.Action("AuditLogRecord", Model.AuditLog)

        </div>
    }
</div>
        
@section scripts {
    <script>

        function copyToClipboard() {

            if (window.clipboardData && clipboardData.setData) {
                clipboardData.setData("Text", BuildJsonDetail());
            }
            else {
                alert("works only in IE4+");
            }
        }

        function BuildJsonDetail()
        {
            return '@Model.Json';
        }

   </script>
}