@model Instrumentation.WebApp.Models.ViewQueryAuditLogByEventId
@{
    Model.ViewQueryCommon.ViewTitle = "Instrumentation Viewer";
}

<div>
    
    @Html.Action("Header", "Home", Model.ViewQueryCommon)

    @using (@Html.BeginForm())
    {
        <div style="padding: 5px; border: solid thin black">

            <div>
                <table>
                    <tr>
                        <th class="TextLabelLeft">AuditLogByEventId</th><th></th>
                    </tr>
                </table>
            </div>
    
            <div>
                <table class="alternate_color">
                    <tr>
                        <td class="CdmsTextInput4">@Html.TextBoxFor(q => q.EventId, null, null)</td>
                        <td><input type="submit" name="Command" value="Search"/></td>
                        <td><input type="button" onclick="copyToClipboard();" value="Copy" /></td>
                    </tr>
                </table>
            </div>

            @foreach(var auditLog in Model.AuditLogs)
            { 
                @Html.Action("AuditLogRow", auditLog)
                <br />
            }
        </div>
    }
</div>
        
@section scripts {
    <script>

        function copyToClipboard() {

            if (window.clipboardData && clipboardData.setData) {
                clipboardData.setData("Text", BuildJsonDetail());
            }
            else {
                alert("works only in IE4+");
            }
        }

        function BuildJsonDetail()
        {
            return '@Model.Json';
        }

   </script>
}