@model Instrumentation.WebApp.Models.ViewQueryAuditLogByCategory
@{
    Model.ViewQueryCommon.ViewTitle = "Instrumentation Viewer";
}

<div class="PageRoot">
    
    @Html.Action("Header", "Home", Model.ViewQueryCommon)

    @using (@Html.BeginForm())
    {
        <div class="PageSectionWithBorder">
    
            <div>
                <table class="alternate_color">
                    <tr>
                        <td>Category</td>
                        <td class="CdmsTextInput4">@Html.TextBoxFor(q => q.Category, null, null)</td>
                        <td><input type="submit" name="Command" value="Search"/></td>
                    </tr>
                </table>
            </div>

            @Html.Action("AuditLogGrid", Model.List)

            @foreach(var auditLog in Model.List.AuditLogs)
            { 
                @Html.Action("AuditLogRecord", auditLog)
                <br />
            }
        </div>
    }
</div>
        
