@using Instrumentation.WebApp.Models
@model ViewQueryAuditLogById
@{
    Model.ViewTitle = "AuditLogById";
}

<div class="PageRoot">
    
    @Html.Action("Header", "Home", Model)

    @using (@Html.BeginForm())
    {
        <div class="PageSection">
            <div>
                <table class="alternate_color">
                    <tr>
                        <td>Id</td>
                        <td>@Html.TextBoxFor(q => q.AuditLogId, null, null)</td>
                        <td></td>
                        <td><input type="submit" name="Command" value="Search"/></td>
                        @*<td><input type="button" onclick="copyToClipboard();" value="Copy" /></td>*@
                    </tr>
                </table>
            </div>

            <div>
                <table class="alternate_color">
        
                    @if (!string.IsNullOrEmpty(Model.AuditLog.Id))
                    {
                        <tr><td>Id</td><td>@Model.AuditLog.Id</td></tr>
                        <tr><td>EventId</td><td>@Model.AuditLog.EventId</td></tr>
                        <tr><td>ApplicationName</td><td>@Model.AuditLog.ApplicationName</td></tr>
                        <tr><td>FeatureName</td><td>@Model.AuditLog.FeatureName</td></tr>
                        <tr><td>Category</td><td>@Model.AuditLog.Category</td></tr>
                        <tr><td>TraceLevel</td><td>@Model.AuditLog.TraceLevel</td></tr>
                        <tr><td>MessageCode</td><td>@Model.AuditLog.MessageCode</td></tr>
                        <tr><td>LoginName</td><td>@Model.AuditLog.LoginName</td></tr>
                        <tr><td>AuditedOn</td><td>@Model.AuditLog.AuditedOn</td></tr>
                        <tr>
                            <td>Messages</td>
                            <td>@Html.TextArea("Info", Model.AuditLog.Messages, new { cols = "150", rows = "10", @readonly = "readonly", @disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <td>AdditionalInfo</td>
                            <td>@Html.TextArea("Info", Model.AuditLog.AdditionalInfo, new { cols = "150", rows = "10", @readonly = "readonly", @disabled = "disabled" })</td>
                        </tr>
                    }

                </table>
            </div>

        </div>
    }
</div>
        
@section scripts {
    <script>

        function copyToClipboard() {

            if (window.clipboardData && clipboardData.setData) {
                clipboardData.setData("Text", BuildJsonDetail());
            }
            else {
                alert("works only in IE4+");
            }
        }

        function BuildJsonDetail()
        {
            return '@Model.Json';
        }

   </script>
}