@model Instrumentation.WebApp.Models.ViewQueryAuditLogByCategory
@{
    Model.Header.ViewTitle = "Instrumentation Viewer";
}

<div class="PageRoot">
    
    @Html.Action("Header", "Home", Model.Header)

    @using (@Html.BeginForm())
    {
        <div>
            <table>
                <tr>
                    <td>DbKey @Html.DropDownListFor(q => q.Header.DbKey, Model.Header.DbOptionSelectList)</td>
                    <td>
                        <input type="submit" name="Command" value="Refresh" />
                    </td>
                    <td>MaxRowCount</td>
                    <td class="TextInputSmall">@Html.TextBoxFor(q => q.Header.MaxRowCount, null, null)</td>
                </tr>
            </table>
        </div>

        @*@Html.Action("DbSelect", "AuditDb", Model.Header)*@

        <div class="PageSectionWithBorder">
            <table>
                <tr>
                    <td>
                        <div class="PageSection">
                            <table class="alternate_color">
                                <tr>
                                    <td>Category</td>
                                    <td>@Html.TextBoxFor(q => q.Category, null, null)</td>
                                    <td><input type="submit" name="Command" value="Search"/></td>
                                </tr>
                            </table>
                        </div>

                        @Html.Action("SummaryApplicationNames", "AuditDb", Model)
            
                        @Html.Action("SummaryFeatureNames", "AuditDb", Model)

                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Action("AuditLogDetail", "AuditDb", Model)
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
        
