@model Instrumentation.WebApp.Models.ViewQueryBase
@{
    Model.ViewTitle = "AuditLog";
}

<div class="PageRoot">
    
    @Html.Action("Header", "Home", Model)

    @using (@Html.BeginForm())
    {
        <div>
            <table>
                <tr>
                    <td>DbKey @Html.DropDownListFor(q => q.DbKey, Model.DbKeyList)</td>
                    <td>
                        <input type="submit" name="Command" value="Refresh" />
                    </td>
                    <td>MaxRowCount</td>
                    <td class="TextInputSmall">@Html.TextBoxFor(q => q.MaxRowCount, null, null)</td>
                </tr>
            </table>
        </div>

       
        @Html.Action("AuditLogGrid", Model)
    }
</div>