@model Instrumentation.WebApp.Models.ViewQueryAuditLog
@{
    Model.ViewQueryCommon.ViewTitle = "Instrumentation Viewer";
}

<div>
    
    @Html.Action("Header", "Home", Model.ViewQueryCommon)

    <div>
        <table>
            <tr>
                <th class="TextLabelLeft">AuditLog</th><th></th>
            </tr>
            <tr>
                <td>Count</td><td>@Model.Count</td>
            </tr>
        </table>
    </div>

@*    <div>
        <table class="alternate_color">
            <tr>
                <td>1</td>
                <td>text1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>text2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>text3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>text4</td>
            </tr>
        </table>
    </div>*@

    <div>
        <table class="alternate_color">
                <tr>
                    <th>Id</th>
                    <th>EventId</th>
                    <th>ApplicationName</th>
                    <th>FeatureName</th>
                    <th>Category</th>
                    <th>MessageCode</th>
                    <th>Messages</th>
                    <th>TraceLevel</th>
                    <th>LoginName</th>
                    <th>AuditedOn</th>
                </tr>
            @foreach (var auditLog in Model.AuditLogs)
            {
                <tr>
                    <td>@auditLog.Id</td>
                    <td class="eventId">@auditLog.EventId</td>
                    <td>@auditLog.ApplicationName</td>
                    <td>@auditLog.FeatureName</td>
                    <td>@auditLog.Category</td>
                    <td>@auditLog.MessageCode</td>
                    <td class="messages">
                        <span title="abc  @auditLog.Messages">@auditLog.Messages</span>
                    </td>
                    <td>
                        <a href="http://localhost/Instrumentation" title="@auditLog.Messages">@auditLog.TraceLevel</a>
                        
                    </td>
                    <td>@auditLog.LoginName</td>
                    <td>@auditLog.AuditedOn</td>
                </tr>
            }
        </table>
    </div>

</div>