@model Instrumentation.WebApp.Models.ViewQueryAuditLogByApplicationName
@{
    Model.ViewTitle = "Instrumentation Viewer";
}

<div class="PageRoot">
    
    @Html.Action("Header", "Home", Model.Header)

    @using (@Html.BeginForm())
    {
        <div>
            <table>
                <tr>
                    <td>DbKey @Html.DropDownListFor(q => q.DbKey, Model.DbKeyList)</td>
                    <td>
                        <input type="submit" name="Command" value="Refresh" />
                    </td>
                    <td>MaxRowCount</td>
                    <td class="TextInputSmall">@Html.TextBoxFor(q => q.MaxRowCount, null, null)</td>
                </tr>
            </table>
        </div>

        <div class="PageSection">
            <table class="TableSection">
                <tr>
                    <td>
                        <table class="alternate_color">
                            <tr>
                                <td>ApplicationName</td>
                                <td>@Html.TextBoxFor(q => q.ApplicationName, null, null)</td>
                                <td><input type="submit" name="Command" value="Search" /></td>
                            </tr>
                        </table>

                        @Html.Action("SummaryFeatureNames", "AuditDb", Model)

                        @Html.Action("SummaryCategoryNames", "AuditDb", Model)

                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Action("AuditLogDetail", "AuditDb", Model)
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
        
