@model Instrumentation.WebApp.Models.ViewQueryAuditLogSummary
@{
    Model.ViewTitle = "Instrumentation Viewer";
}

<div class="PageRoot">
    
    @Html.Action("Header", "Home", Model.Header)

    @using (@Html.BeginForm())
    {
        <div>
            <table>
                <tr>
                    <td>DbKey @Html.DropDownListFor(q => q.DbKey, Model.DbKeyList)</td>
                    <td>
                        <input type="submit" name="Command" value="Refresh" />
                    </td>
                    <td>MaxRowCount</td>
                    <td class="TextInputSmall">@Html.TextBoxFor(q => q.MaxRowCount, null, null)</td>
                </tr>
            </table>
        </div>

        <div class="PageSection">
            <table class="alternate_color">
                <tr>
                    <td>TotalRecordCount</td>
                    <td class="TextInputSmall">@Html.TextBoxFor(q => q.TotalRecordCount, null, null)</td>
                </tr>
            </table>
        </div>

        @Html.Action("SummaryApplicationNames", "AuditDb", Model)

        @Html.Action("SummaryFeatureNames", "AuditDb", Model)

        @Html.Action("SummaryCategoryNames", "AuditDb", Model)
    }
</div>
        