@model Instrumentation.WebApp.Models.ViewQueryAuditLogSummary
@{
    Model.ViewTitle = "Instrumentation Viewer";
}

<div class="PageRoot">
    
    @Html.Action("Header", "Home", Model)

    @using (@Html.BeginForm())
    {
        <div>
            <table>
                <tr>
                    <th class="TextLabelLeft">AuditLog Summary</th>
                    <th></th>
                </tr>
            </table>
        </div>
    
        @Html.Action("DbSelect", "AuditDb", Model)

        <div class="PageSection">
            <table class="alternate_color">
                <tr>
                    <td>TotalRecordCount</td>
                    <td class="TextInputSmall">@Html.TextBoxFor(q => q.TotalRecordCount, null, null)</td>
                </tr>
            </table>
        </div>

        <div class="PageSection">
            <table class="alternate_color">
                <tr>
                    <th>ApplicationName</th>
                    <th>Count</th>
                </tr>
                @foreach (var appName in Model.ApplicationNames)
                {
                    <tr>
                        @if (string.IsNullOrEmpty(appName.Name)) { <td></td> }
                        else{
                            <td>@Html.ActionLink(appName.Name, "AuditLogByApplicationName", "AuditDb", new { id = appName.Name }, null )</td>
                        }
                        <td>
                            @appName.Count
                        </td>
                    </tr>
                }
            </table>
        </div>
            
        <div class="PageSection">
            <table class="alternate_color">
                <tr>
                    <th>FeatureName</th>
                    <th>Count</th>
                </tr>
                @foreach (var featureName in Model.FeatureNames)
                {
                    <tr>
                        @if (string.IsNullOrEmpty(featureName.Name)) { <td></td> }
                        else{
                            <td>@Html.ActionLink(featureName.Name, "AuditLogByFeatureName", "AuditDb", new { id = featureName.Name }, null )</td>
                        }
                        <td>
                            @featureName.Count
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="PageSection">
            <table class="alternate_color">
                <tr>
                    <th>Categories</th>
                    <th>Count</th>
                </tr>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        @if (string.IsNullOrEmpty(category.Name)) { <td></td> }
                        else{
                            <td>@Html.ActionLink(category.Name, "AuditLogByCategory", "AuditDb", new { id = category.Name }, null )</td>
                        }
                        <td>
                            @category.Count
                        </td>
                    </tr>
                }
            </table>
        </div>
        

    }
</div>
        