@model Instrumentation.WebApp.Models.ViewQueryBase
@{
    Layout = null;
}
<div>
    <h2>@Model.ViewTitle</h2>

    @if (Model.ViewName == "Home")
    {
        <h3>Instrumentation Views</h3>
        <table class="alternate_color">
            <tr>
                <td>
                    @Html.ActionLink("Home", "Index", "Home")
                </td>
            </tr>

            <tr>
                <td>
                    @Html.ActionLink("Summary", "Summary", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
                </td>
            </tr>
                            
            <tr>
                <td>
                    @Html.ActionLink("AuditLog", "AuditLog", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("AuditLogById", "AuditLogById", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("AuditLogByEventId", "AuditLogByEventId", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("AuditLogByApplicationName", "AuditLogByApplicationName", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("AuditLogByCategory", "AuditLogByCategory", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("AuditLogByFeatureName", "AuditLogByFeatureName", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
                </td>
            </tr>
        </table>
    }
    else
    {
        @Html.ActionLink("Home", "Index", "Home")
        @Html.Raw(((char) 160).ToString())
        @Html.Raw(((char) 124).ToString())
        @Html.Raw(((char) 124).ToString())
        @Html.Raw(((char) 160).ToString())
    @Html.ActionLink("Summary", "Summary", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
        @Html.Raw(((char) 160).ToString())
        @Html.Raw(((char) 160).ToString())
    @Html.ActionLink("AuditLog", "AuditLog", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
        @Html.Raw(((char) 160).ToString())
        @Html.Raw(((char) 160).ToString())
        @Html.ActionLink("AuditLogById", "AuditLogById", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
        @Html.Raw(((char) 160).ToString())
        @Html.Raw(((char) 160).ToString())
        @Html.ActionLink("AuditLogByEventId", "AuditLogByEventId", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
        @Html.Raw(((char) 160).ToString())
        @Html.Raw(((char) 160).ToString())
        @Html.ActionLink("AuditLogByApplicationName", "AuditLogByApplicationName", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
        @Html.Raw(((char) 160).ToString())
        @Html.Raw(((char) 160).ToString())
        @Html.ActionLink("AuditLogByCategory", "AuditLogByCategory", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
        @Html.Raw(((char) 160).ToString())
        @Html.Raw(((char) 160).ToString())
        @Html.ActionLink("AuditLogByFeatureName", "AuditLogByFeatureName", "AuditDb", new { id = "", dbkey = Model.DbKey }, null)
        @Html.Raw(((char) 160).ToString())
        @Html.Raw(((char) 160).ToString())
    }

<hr />

</div>
