@model Instrumentation.WebApp.Models.AuditLogViewModel
@{
    Layout = null;
}
<div>

@if (Model.ViewTitle == "Home")
{
    <h2>Instrumentation Dashboards</h2>

    <br />
    @Html.ActionLink("Home", "Index", "Home", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    <br/>
    <h3>AuditLog Dashboards</h3>
}
else
{
    <h3>@Model.ViewTitle</h3>
    <br/>
    @Html.ActionLink("Dashboards Home", "Index", "Home", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char) 160).ToString())
    @Html.Raw(((char) 124).ToString())
    @Html.Raw(((char) 124).ToString())
    @Html.Raw(((char) 160).ToString())
}

    @Html.ActionLink("Summary", "Summary", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("Recent", "Recent", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("Search", "Search", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())


    <hr />
@if(!string.IsNullOrEmpty(Model.ErrorMessage))
{ 
    <table>
        <tr>
            <td class="ErrorTitle">Error</td>
        </tr>
        <tr>
            <td>@Model.ErrorMessage</td>
        </tr>
    </table>
}
</div>
