@using Instrumentation.DomainDA.Helpers
@model Instrumentation.WebApp.Models.AuditLogViewModel
@{
    Layout = null;
}
<div>

@if (Model.ViewTitle == "Home")
{
    <h2>Instrumentation Dashboards</h2>

    <br />
    @Html.ActionLink("Home", "Index", "Home", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    <br/>
    <h3>AuditLog Dashboards</h3>
    @Html.ActionLink("Summary", "Summary", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("AuditLog", "AuditLog", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("AuditLogById", "AuditLogById", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("AuditLogByEventId", "AuditLogByEventId", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("AuditLogByApplicationName", "AuditLogByApplicationName", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("AuditLogByFeatureName", "AuditLogByFeatureName", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("AuditLogByCategory", "AuditLogByCategory", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("AuditLogByBrowse", "Browse", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount, browseMode = Model.BrowseMode }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("AuditLogByFilters", "AuditLogByFilters", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
}
else
{
    <h3>@Model.ViewTitle</h3>
    <br/>
    @Html.ActionLink("Home", "Index", "Home", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char) 160).ToString())
    @Html.Raw(((char) 124).ToString())
    @Html.Raw(((char) 124).ToString())
    @Html.Raw(((char) 160).ToString())
    @Html.ActionLink("Summary", "Summary", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char) 160).ToString())
    @Html.Raw(((char) 160).ToString())
    @Html.ActionLink("AuditLog", "AuditLog", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char) 160).ToString())
    @Html.Raw(((char) 160).ToString())
    @Html.ActionLink("AuditLogById", "AuditLogById", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char) 160).ToString())
    @Html.Raw(((char) 160).ToString())
    @Html.ActionLink("AuditLogByEventId", "AuditLogByEventId", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char) 160).ToString())
    @Html.Raw(((char) 160).ToString())
    @Html.ActionLink("AuditLogByApplicationName", "AuditLogByApplicationName", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char) 160).ToString())
    @Html.Raw(((char) 160).ToString())
    @Html.ActionLink("AuditLogByFeatureName", "AuditLogByFeatureName", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("AuditLogByCategory", "AuditLogByCategory", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char) 160).ToString())
    @Html.Raw(((char) 160).ToString())
    @Html.ActionLink("AuditLogByBrowse", "Browse", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount, browseMode = Model.BrowseMode }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
    @Html.ActionLink("AuditLogByFilters", "AuditLogByFilters", "AuditDb", new { id = "", dbkey = Model.DbKey, maxrowcount = Model.MaxRowCount }, null)
    @Html.Raw(((char)160).ToString())
    @Html.Raw(((char)160).ToString())
}

<hr />
@if(!string.IsNullOrEmpty(Model.ErrorMessage))
{ 
    <table>
        <tr>
            <td class="ErrorTitle">Error</td>
        </tr>
        <tr>
            <td>@Model.ErrorMessage</td>
        </tr>
    </table>
}
</div>
